.main-navigation {
    display: none;
    font-weight: 400;
    font-size: 80%;
    clear: left;
    text-transform: uppercase;
    background-color: $color__footer;
    left: 0;
    z-index: 2;

    ul {
        display: block;
        list-style: none;
        float: left;
        margin: 0;
        padding-top: 100px;
        padding-left: 0;
        padding-right: 0;
        left: 0;
        width: 100vw;
        z-index: 2;

        ul {
            display: none;

        }

        li {
            border-top: 1px solid $color__off-black;
            padding-top: 1em;
            padding-bottom: 1em;


            a {
                color: $color__white;
                line-height: 1.7;
                margin-left: 1em;
                margin-right: 1.5em;

                &:hover {
                    color: $color__main;
                }

            }

            i {
                color: $color__white;
            }
        }

    }

}

li:hover>ul,
li.focus>ul {
    left: auto;
}

.current_page_item>a,
.current-menu-item>a,
.current_page_ancestor>a,
.current-menu-ancestor>a {
    color: $color__main;

    &:active,
    &:hover {}
}

.menu-item-has-children,
.page_item_has_children {}

.menu-item-has-children>a,
.page_item_has_children>a {}


.menu-short-container {
    z-index: 20;
}

#primary-menu {
    z-index: 999;

    ul {
        z-index: 20;
        color: pink;

        li {
            z-index: 20;
            color: red;

            a {
                // color: green;
            }
        }
    }
}


// ---------- NEW BURGER NAV ----------------
.navigation-main {
    top: 45px;
    right: 15px;
    height: 30px;
    width: 35px;
    position: absolute;
    text-align: center;
    transition: all 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);


    .nav__button {
        cursor: pointer;
        transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

}

.navigation-main span {
    display: block;
    position: absolute;
    z-index: 999;
    height: 5px;
    width: 100%;
    background: #ffffff;
    border-radius: 3px;
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);



}


.navigation-main span:first-child {
    top: 10%;



}

.navigation-main span:last-child {
    top: 90%;
}

.js--nav-icon.open {
    span {
        &:first-child {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(-135deg) scale(.8)
        }

        &:nth-of-type(2) {

            // ---  Blends in animation
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(135deg) scale(.8);
            opacity: 0;
        }

        &:last-child {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(135deg) scale(.8)
        }

    }

}

.navigation__checkbox {
    display: none;
}

.navigation-section {}

.open-nav {
    animation: menuIn .27s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    display: block;
    position: absolute;
    z-index: 90;
}

.close-nav {
    display: block;
    position: absolute;
    z-index: 90; // ease in out sine
    animation: menuOut .27s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-fill-mode: forwards;
}

@media screen and (min-width: $query__medium) {
    display: none;
}

/* Toggle small menu and children on */

.toggled-on ul,
.sub-menu.toggled-on {
    display: block;
}


@media screen and (min-width: $query__medium) {

    .navigation-main {
        display: none;
    }

    .burger {
        display: none;

        span {
            display: none;
        }
    }




    .main-navigation {
        display: flex;
        background-color: transparent;

        ul {
            display: flex;
            flex-wrap: nowrap;
            font-size: 70%;
            justify-content: flex-end;
            justify-content: flex-end;
            padding-top: 30px;
            font-size: 100%;
            margin: 0 40px 0 0;
            padding-top: 44px;

            li {
                border-top: none;
                padding: 0;
                transition: all 0.2s;

                a {
                    transition: all 0.2s ease-out;

                    &:hover,
                    &:focus {
                        color: $color__white;
                        border-bottom: 2px solid $color__main;
                    }
                }

            }

            li:last-child {
                border: solid 1px $color__nav-text;

                &:hover {
                    background-color: $color__main;
                    color: $color__white;
                    border-color: $color__main;
                    cursor: pointer;

                    a {
                        border: none;
                        color: $color__white;
                        background-color: $color__main;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: $query__medium) and (max-width: $query__large) {

    .main-navigation {
        ul {
            font-size: 80%;
            margin-right: 25px;
        }
    }

}