.header-image {
    height: 100%;
    width: 100%;
}



.header-image-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('images/book-bed2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-height: 1080px;
    min-height: 400px;
    background-attachment: fixed;
    position: relative;
    margin: 0;

    @media screen and (min-width: $query__hd) {
        max-height: 2160px;
    }
}

#header-top {
    z-index: 997;
    background-color: $color__footer;
    height: 95px;
    width: 220px;




}


.header-main-container {
    height: 100px;

    background-color: $color__footer;
    z-index: 99;
}

.header-image-container:before,
.header-image-container:after {
    margin: 0;
}



#header-main:after {
    margin: 0;
    padding: 0;
}

.site-branding {
    min-height: 10px;
    z-index: 998;

    height: 60px;

    .custom-logo-link {
        img {


            min-height: 10px;
            height: 56px;
            width: auto;
            top: 26px;
            left: 10px;
            position: absolute;
        }
    }


}







.site-header {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    font-family: $font__main;
    color: $color__nav-text;
    margin-bottom: 10px;
    z-index: 99;
}

@media screen and (min-width: $query__small) {
    padding: 1em 1em;

    .site-header {

        display: flex;
        justify-content: flex-end;

    }


    .site-branding {
        min-height: 30px;
        width: 25%;

        .custom-logo-link {
            img {
                display: block;
                min-height: 48px;
                height: 70px;
                width: auto;
                margin-top: 3px;
                position: absolute;
                left: 40px;
                top: 19px;
            }
        }


    }


    .site-navigation {
        width: 75%;
    }
}



.hero-text-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 28%;
    width: 60%;
    bottom: 15%;
    right: 50%;
    transform: translateX(50%);
    padding: .4em;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    z-index: 1;
    backface-visibility: hidden;

    @media screen and (min-width: $query__small) {
        width: 250px;
        height: 180px;
    }




    h1 {
        color: #fff;
        margin: 0 0 20px 0;
        font-size: 140%;
        word-spacing: 4px;
        letter-spacing: 1px;
        font-weight: 300;
    }


}

.hero-heading-main {
    // Fade in Animation 
    display: block;
    animation: moveInLeft 1s ease-in;

}

.hero-heading-sub {
    display: block;
    animation: moveInRight 1s ease-in;
}


.hero-btn {
    display: inline-block;
    margin: auto; // Fade in up Animation 
    animation: fadeIn 1.2s ease-in;
    animation-delay: .2s;
    transition: all .2s;

}


@media screen and (min-width: $query__medium) {
    #header-top {
        display: none;
    }

    .site-header {

        display: flex;
        justify-content: flex-end;

    }


    .site-branding {
        min-height: 80px;
        width: 25%;

        .custom-logo-link {

            img {
                display: block;
                min-height: 48px;
                height: 70px;
                width: auto;

                margin-top: 3px;

                position: absolute;
                left: 40px;
                top: 16px;


            }
        }


    }

    .site-navigation {
        width: 75%;
    }

    .header-image {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .hero-text-box {
        position: absolute;
        width: 350px;
        transform: none;
        bottom: 100px;
        right: 140px;
        padding: 5px;
        text-align: center;
        background: none;

        h1 {
            margin: 0 0 20px 0;
            font-size: 240%;
            word-spacing: 4px;
            letter-spacing: 2px;
            font-weight: 300;
        }
    }
}

// hi res up to 1080p
// @media screen and (min-width: $query__large) {

//     .hero-text-box {
//         width: 384px;
//         height: auto;
//         right: 676px;
//         padding: 21px; // 
//         background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));

//     }
// }

//  hd and above screens 4k
@media screen and (min-width: $query__hd) {

    .hero-text-box {
        width: 600px;
        bottom: 373px;
        right: 712px;



        h1 {
            font-size: 450%;
        }
    }
}

/*
Header Menu
*/

@import 'header-menu'