$color__background-body:#fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #e67e22;
$color__text-input: #666;
$color__text-input-focus: #e67e22;
$color__link: #e67e22;
$color__link-visited: #fff;
$color__link-hover: #E67E22;
$color__text-main: #555;

$color__border-button: #e67e22;
$color__border-button-hover: #e67e22;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #666;
$color__border-abbr: #666;

$color__main: #e67e22;
$color__header: #241f1f;
$color__nav-text: #fff;
$color__white: #fff;
$color__footer: #241f1f;
$color__off-black: #101010;
$color__button-hover: #cf6d17;


// ------- Social Media Colors -----------------

$color__facebook: #3b5998; 
$color__twitter: #00aced;
$color__instagram: #D63172;

