// for blog pages
$size__max-width: 780px;

// for book page
$size__max-width-book-page: 900px;
$size__max-width-home: 1080px;
$size__med-width: 660px;


$size__ratio-small: 30%;
$size__ratio-large: 60%;

//$size__site-main: 100%;
//$size__site-sidebar: 25%;

$query__small: 600px;
$query__medium: 900px;
$query__large: 1100px;
$query__hd: 1920px;


