a {
	color: $color__link;
    text-decoration:none;
	&:visited {

	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
        border-color: $color__main;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
