.comments-area {
    width: 100%;
    margin: 3em 0;
    padding: 1.5em 0;
    border-top: 1px solid hsl(0, 0%, 80%);
}

.comments-title {
    margin-bottom: 2em;
    font-size: 1.2em;
    font-weight: 900;
}

.comment-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    ol {
        list-style-type: none;
    }
}

.comment-body {
    border-bottom: 1px solid #c3c3c3;
    margin-bottom: 3em;
}

.comment-meta {
    position: relative;
    margin-left: 70px;
    font-size: 80%;
}

.comment-meta,
.comment-form {
    a {
        text-decoration: none;
        border: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.comment {


    .avatar {
        position: absolute;
        top: -5px;
        left: -70px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }

}

.children {
    margin-left: 1em;
    padding-left: 0;

    @media screen and (min-width: $query__medium) {
        margin-left: 2em;
    }
}

.no-sidebar {

    .children {

        @media screen and (min-width: $query__medium) {

            margin-left: 2em;

            .comment-meta {
                margin-left: 80px;
                font-size: 90%;
            }

            .comment .avatar {
                top: -7px;
                left: -80px;
                width: 60px;
                height: 60px;
            }

            .comment-content {
                margin-left: 80px;
            }

        }
    }


    @media screen and (min-width: $size__max-width) {

        .children {
            margin-left: 3em;
        }

        .comment-meta {
            margin-left: 90px;
        }

        .comment .avatar {
            top: -8px;
            left: -90px;
            width: 70px;
            height: 70px;
        }

        .comment-content {
            margin-left: 90px;
        }
    }
}



.comment-metadata {
    margin-top: .2em;
    padding-bottom: .5em;
    font-size: .8em;
    line-height: 1em;

    a {
        color: #7D7D7D;

        &:hover,
        &:focus {
            border-color: #c3c3c3;
        }
    }
}

.comment-author {
    font-size: 1.4em;
    line-height: 1.3em;
}

.says {
    font-size: 80%;
}

.reply {
    margin-bottom: 1.5em;
    text-align: right;

    a {
        display: inline-block;
        padding: .5em 1.4em;
        font-size: 85%;
        color: #000;
        line-height: 1.3em;
        text-decoration: none;
        border: 1px solid #c3c3c3;

        &:hover,
        &:focus {
            color: #fff;
            background: $color__main;
            border-color: $color__main;
        }
    }
}


.comment-content {

    ol {
        list-style-type: decimal;
    }

    a {
        word-wrap: break-word;
    }

}


.bypostauthor .avatar {
    box-sizing: content-box;
    border: 5px solid $color__main;
    margin-top: -5px;
    margin-left: -5px;
}

.share-buttons-title {
    text-align: center;
    margin: 2em auto 1em auto;
}

.share-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto 4em auto;


    .icon {
        height: 1.7em;
        width: 1.7em;
        margin: 0 .5em;
        fill: #202121;
    }

}

.icon-facebook:hover {
    fill: #3b5998;
}

.icon-twitter:hover {
    fill: #00aced;
}

.icon-instagram:hover {
    fill: #D63172;
}

.icon-tumblr:hover {
    fill: #34526f;
}

.icon-google-plus:hover {
    fill: #dd4b39;
}

.icon-whatsapp:hover {
    fill: #128C7E;
}

.icon-mail4:hover {
    fill: #245a88;
}